body {
    width: 90%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    background: -webkit-radial-gradient(rgb(189, 221, 126), rgb(113, 161, 150));
    background: radial-gradient(rgb(189, 221, 126), rgb(113, 161, 150));
    /*background-image: url("bg1.jpg");*/
    /*background-size: 100%;*/
    background-position: center;
    background-size: cover;
    /*background-position: bottom right;*/
    background-repeat: no-repeat;
    color: #333;
}


/*used child selector >*/

body>blockquote {
    /*reccommended line height*/
    line-height: 1.6;
}

body>h1 {
    background-color: yellow;
}

a {
    /*text-decoration: none;*/
    font-style: italic;
}


/* unvisited, visited link */

a:link,
a:visited {
    color: darkslateblue;
}


/* mouse over link */

a:hover {
    color: darkslategrey;
}


/* selected link */

a:active {
    color: blue;
}

ul {
    list-style-type: none;
}

blockquote {
    width: 50%;
    margin: auto;
}

q {
    font-style: italic;
    font-size: 160%;
    background-color: lightslategray;
    border-left: 3px dotted black;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

table.mytable,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 20px;
}

th {
    background: #CCC
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

p {
    letter-spacing: 0.9px;
    color: darkred;
    font-size: 18px;
    font-family: serif;
}

.good {
    text-transform: capitalize;
    color: green
}

.bad {
    text-transform: capitalize;
    color: red
}

#notification {
    /*background-color: #0b5c87;*/
    background-color: rgb(21 79 129 / 62%);
    color: #fff;
    padding: 15px;
    font-family: sans-serif;
    width: 30%;
    text-align: center;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
}

#notification q,
#notification .end {
    color: #fea604;
    font-weight: 600;
}